# Configuración del Servidor y Base de Datos
PORT=3000
ADMIN_USER=admin
ADMIN_PASS=tech2026

# URL de la Web App de Google Apps Script (Tu Base de Datos en la Nube)
GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/.../exec
